################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Codigo/obj/Debug/net7.0/proyectocountertexdefinitivo.AssemblyInfo.cs
