################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Codigo/obj/Debug/net7.0/proyectocountertexdefinitivo.AssemblyInfo.cs
/Codigo/.vs/proyectocountertexdefinitivo
/Codigo/obj/Debug/net7.0/proyectocountertexdefinitivo.AssemblyInfo.cs
/Codigo/obj/Debug/net7.0/proyectocountertexdefinitivo.AssemblyInfoInputs.cache
/.vs/proyectocountertexdefinitivo/FileContentIndex/56a12d13-9476-48c7-bd9f-5caee60862cd.vsidx
/.vs/proyectocountertexdefinitivo/FileContentIndex/6b352145-95be-4e58-b28f-88b4f93a67ab.vsidx
/.vs/proyectocountertexdefinitivo/FileContentIndex/2e2aed07-b7c4-4fea-baf2-8fafe2f397ef.vsidx
/.vs/proyectocountertexdefinitivo/FileContentIndex/f4c4bac9-9ea2-4551-a024-e69d71526614.vsidx
/.vs/proyectocountertexdefinitivo/FileContentIndex/19604235-1ac2-465c-ad6c-b56c0d7430bc.vsidx
/.vs/slnx.sqlite-journal
/.vs/proyectocountertexdefinitivo/FileContentIndex/745db587-ab17-47d3-ad12-30bad02b13ff.vsidx
/.vs/proyectocountertexdefinitivo/FileContentIndex/5f1d1663-e8bb-41d9-b2b8-4592df81b3bb.vsidx
/.vs/slnx.sqlite
/.vs/proyectocountertexdefinitivo/FileContentIndex/34d3eaa3-273e-47a1-af3f-9960c2a98073.vsidx
*.vsidx
